.AdmonStagesBody {
  background-color: #000;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
  align-content: center;

  padding: 1em;

}

.divStagesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  align-items: flex-start;

  padding: .3em;
}


.StagesList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
  align-content: center;

  padding: .3em;
}
