.EditStage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  border: 1px solid #999999;
  border-radius: .5em;

  padding: .3em;
  margin: .3em;

}

.tabEditStage {
  padding: .3em;
  margin: .3em;
}
